APP_BASE_URL=http://localhost:8080
BIND_ADDR=0.0.0.0:8080
DATABASE_URL=postgres://slabs:slabs@localhost:8181/voting_app

DB_PASSWORD=voting_dev
DB_PORT=5432

BACKEND_URL="localhost:3000"

OIDC_ISSUER=https://idp.scottylabs.org/realms/scottylabs
OIDC_CLIENT_ID=voting-app-localhost
OIDC_CLIENT_SECRET=
